@page "/listrecipes"

@using Models
@inject Data.Services.ReceiptService _receiptService
@inject NavigationManager NavManager

<h1>Suas Receitas</h1>

<p>Visualize aqui suas receitas</p>

@if (receipts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var receipt in receipts)
            {
                <tr>
                    <td><a href="/recipe/@receipt.Id">@receipt.Id</a></td>
                    <td>@receipt.Name</td>
                    <td>@receipt.CreatedDate</td>
                    <td>
                        <button type = "button" class="btn btn-danger" @onclick="@(() => DeleteRecipe(receipt.Id))">Deletar</button>
                        <button type = "button" class="btn btn-primary" >editar</button>
                        </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private List<Receipt> receipts = new List<Receipt>();

    protected override async Task OnInitializedAsync()
    {
        receipts = await _receiptService.ListAll();
    }

    private async Task DeleteRecipe(Guid id)
    {
        await _receiptService.DeleteReceipt(id);
        NavManager.NavigateTo("/listrecipes");
    }
}
